In [2]:
import numpy as np 
import pandas as pd

In [3]:
 
data = [2, 4, 6.5, 8]  
arr0 = np.array(data)

In [4]:
# pandas中的Series数据类型  
s = pd.Series([100, 'a', { 'dic1': 5}],  
              index=pd.Index(['ide', 20, 'thied'], name='my_idx'),  
              dtype='object',  
              name='my_name')

In [5]:
s2 = pd.Series(["1","2","3","4"])

In [6]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [7]:
type(s2.values[0])

str

In [8]:
s2.shape

(4,)

In [9]:
s2.size

4

In [10]:
#任务3： 创建DataFrame类型的数据，并获取其索引、值及表大小
d1 = {
    "作者": pd.Series(["余华","残雪","莫言"]),
    "作品": pd.Series(["活着","茶园","红高粱"]),
    "价格": pd.Series([35,72,38]),
}
df2 = pd.DataFrame(d1)

In [11]:
df2.index.values

array([0, 1, 2], dtype=int64)

In [12]:
df2.shape

(3, 3)

In [13]:
df2.size

9

In [14]:
贵州茅台原始数据 = pd.read_csv(R'data\600519.csv')

In [15]:
#  按列数据查询
贵州茅台原始数据['TURNOVER']

0        1410347008
1         463463008
2         194689000
3         177558000
4          86231000
           ...
4089     2694714080
4090    10663392512
4091     5239853056
4092     5581027328
4093     5227695104
Name: TURNOVER, Length: 4094, dtype: int64

In [16]:
贵州茅台原始数据[['TURNOVER','volume']]

         TURNOVER  volume
0      1410347008  406318
1       463463008  129647
2       194689000   53252
3       177558000   48013
4        86231000   23231
...           ...     ...
4089   2694714080   49076
4090  10663392512  204397
4091   5239853056   96885
4092   5581027328   98107
4093   5227695104   89157

[4094 rows x 2 columns]

In [17]:
# 按照行索引
贵州茅台原始数据.loc[0]

day           2001-08-27
STOCK_CODE       6005191
open               34.51
close              35.55
maximum            37.78
minimum            32.85
volume            406318
TURNOVER      1410347008
Name: 0, dtype: object

In [18]:
贵州茅台 = 贵州茅台原始数据.set_index('day')

In [19]:
# loc索引器
# 单个元素
贵州茅台.loc['2001-08-27']

STOCK_CODE    6.005191e+06
open          3.451000e+01
close         3.555000e+01
maximum       3.778000e+01
minimum       3.285000e+01
volume        4.063180e+05
TURNOVER      1.410347e+09
Name: 2001-08-27, dtype: float64